<div>
  <h2 id="page-heading" data-cy="PropertyHeading">
    <span jhiTranslate="kariaMainApp.propertyProperty.home.title">Properties</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="kariaMainApp.propertyProperty.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-property"
        [routerLink]="['/property/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kariaMainApp.propertyProperty.home.createLabel">Create a new Property</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (properties?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="kariaMainApp.propertyProperty.home.notFound">No Properties found</span>
    </div>
  }

  @if (properties && properties.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ownerId">
              <div class="d-flex">
                <span jhiTranslate="kariaMainApp.propertyProperty.ownerId">Owner Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="kariaMainApp.propertyProperty.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="kariaMainApp.propertyProperty.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="kariaMainApp.propertyProperty.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="kariaMainApp.propertyProperty.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="state">
              <div class="d-flex">
                <span jhiTranslate="kariaMainApp.propertyProperty.state">State</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="visibility">
              <div class="d-flex">
                <span jhiTranslate="kariaMainApp.propertyProperty.visibility">Visibility</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="image">
              <div class="d-flex">
                <span jhiTranslate="kariaMainApp.propertyProperty.image">Image</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (property of properties; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/property', property.id, 'view']">{{ property.id }}</a>
              </td>
              <td>{{ property.ownerId }}</td>
              <td>{{ property.name }}</td>
              <td>{{ property.description }}</td>
              <td>{{ property.address }}</td>
              <td>{{ property.location }}</td>
              <td jhiTranslate="{{ 'kariaMainApp.PropertyState.' + property.state }}">{{ property.state }}</td>
              <td jhiTranslate="{{ 'kariaMainApp.Visibility.' + property.visibility }}">{{ property.visibility }}</td>
              <td>
                @if (property.image) {
                  <a (click)="openFile(property.image, property.imageContentType)">
                    <img
                      [src]="'data:' + property.imageContentType + ';base64,' + property.image"
                      style="max-height: 30px"
                      alt="property image"
                    />
                  </a>
                  <span>{{ property.imageContentType }}, {{ byteSize(property.image) }}</span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/property', property.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/property', property.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(property)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (properties && properties.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
