<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (review) {
      <div>
        <h2 data-cy="reviewDetailsHeading"><span jhiTranslate="kariaMainApp.propertyReview.detail.title">Review</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ review.id }}</span>
          </dd>
          <dt><span jhiTranslate="kariaMainApp.propertyReview.reviewerId">Reviewer Id</span></dt>
          <dd>
            <span>{{ review.reviewerId }}</span>
          </dd>
          <dt><span jhiTranslate="kariaMainApp.propertyReview.rating">Rating</span></dt>
          <dd>
            <span>{{ review.rating }}</span>
          </dd>
          <dt><span jhiTranslate="kariaMainApp.propertyReview.reviewContent">Review Content</span></dt>
          <dd>
            <span>{{ review.reviewContent }}</span>
          </dd>
          <dt><span jhiTranslate="kariaMainApp.propertyReview.propertyId">Property Id</span></dt>
          <dd>
            @if (review.propertyId) {
              <div>
                <a [routerLink]="['/property', review.propertyId.id, 'view']">{{ review.propertyId.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
