<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-property-heading"
        data-cy="PropertyCreateUpdateHeading"
        jhiTranslate="kariaMainApp.propertyProperty.home.createOrEditLabel"
      >
        Create or edit a Property
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.ownerId" for="field_ownerId">Owner Id</label>
          <input type="text" class="form-control" name="ownerId" id="field_ownerId" data-cy="ownerId" formControlName="ownerId" />
          @if (editForm.get('ownerId')!.invalid && (editForm.get('ownerId')!.dirty || editForm.get('ownerId')!.touched)) {
            <div>
              @if (editForm.get('ownerId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          @if (editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)) {
            <div>
              @if (editForm.get('address')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.location" for="field_location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.state" for="field_state">State</label>
          <select class="form-control" name="state" formControlName="state" id="field_state" data-cy="state">
            <option [ngValue]="null">{{ 'kariaMainApp.PropertyState.null' | translate }}</option>
            @for (propertyState of propertyStateValues; track $index) {
              <option [value]="propertyState">{{ 'kariaMainApp.PropertyState.' + propertyState | translate }}</option>
            }
          </select>
          @if (editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)) {
            <div>
              @if (editForm.get('state')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.visibility" for="field_visibility">Visibility</label>
          <select class="form-control" name="visibility" formControlName="visibility" id="field_visibility" data-cy="visibility">
            <option [ngValue]="null">{{ 'kariaMainApp.Visibility.null' | translate }}</option>
            @for (visibility of visibilityValues; track $index) {
              <option [value]="visibility">{{ 'kariaMainApp.Visibility.' + visibility | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.image1" for="field_image1">Image 1</label>
          <div>
            @if (editForm.get('image1')!.value) {
              <img
                [src]="'data:' + editForm.get('image1ContentType')!.value + ';base64,' + editForm.get('image1')!.value"
                style="max-height: 100px"
                alt="property image"
              />
            }
            @if (editForm.get('image1')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('image1ContentType')!.value }}, {{ byteSize(editForm.get('image1')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('image1', 'image1ContentType', 'file_image1')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_image1"
              data-cy="image1"
              (change)="setFileData($event, 'image1', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="image1" id="field_image1" data-cy="image1" formControlName="image1" />
          <input
            type="hidden"
            class="form-control"
            name="image1ContentType"
            id="field_image1ContentType"
            formControlName="image1ContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.image2" for="field_image2">Image 2</label>
          <div>
            @if (editForm.get('image2')!.value) {
              <img
                [src]="'data:' + editForm.get('image2ContentType')!.value + ';base64,' + editForm.get('image2')!.value"
                style="max-height: 100px"
                alt="property image"
              />
            }
            @if (editForm.get('image2')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('image2ContentType')!.value }}, {{ byteSize(editForm.get('image2')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('image2', 'image2ContentType', 'file_image2')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_image2"
              data-cy="image2"
              (change)="setFileData($event, 'image2', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="image2" id="field_image2" data-cy="image2" formControlName="image2" />
          <input
            type="hidden"
            class="form-control"
            name="image2ContentType"
            id="field_image2ContentType"
            formControlName="image2ContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.image3" for="field_image3">Image 3</label>
          <div>
            @if (editForm.get('image3')!.value) {
              <img
                [src]="'data:' + editForm.get('image3ContentType')!.value + ';base64,' + editForm.get('image3')!.value"
                style="max-height: 100px"
                alt="property image"
              />
            }
            @if (editForm.get('image3')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('image3ContentType')!.value }}, {{ byteSize(editForm.get('image3')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('image3', 'image3ContentType', 'file_image3')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_image3"
              data-cy="image3"
              (change)="setFileData($event, 'image3', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="image3" id="field_image3" data-cy="image3" formControlName="image3" />
          <input
            type="hidden"
            class="form-control"
            name="image3ContentType"
            id="field_image3ContentType"
            formControlName="image3ContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.image4" for="field_image4">Image 4</label>
          <div>
            @if (editForm.get('image4')!.value) {
              <img
                [src]="'data:' + editForm.get('image4ContentType')!.value + ';base64,' + editForm.get('image4')!.value"
                style="max-height: 100px"
                alt="property image"
              />
            }
            @if (editForm.get('image4')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('image4ContentType')!.value }}, {{ byteSize(editForm.get('image4')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('image4', 'image4ContentType', 'file_image4')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_image4"
              data-cy="image4"
              (change)="setFileData($event, 'image4', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="image4" id="field_image4" data-cy="image4" formControlName="image4" />
          <input
            type="hidden"
            class="form-control"
            name="image4ContentType"
            id="field_image4ContentType"
            formControlName="image4ContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="kariaMainApp.propertyProperty.image5" for="field_image5">Image 5</label>
          <div>
            @if (editForm.get('image5')!.value) {
              <img
                [src]="'data:' + editForm.get('image5ContentType')!.value + ';base64,' + editForm.get('image5')!.value"
                style="max-height: 100px"
                alt="property image"
              />
            }
            @if (editForm.get('image5')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('image5ContentType')!.value }}, {{ byteSize(editForm.get('image5')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('image5', 'image5ContentType', 'file_image5')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_image5"
              data-cy="image5"
              (change)="setFileData($event, 'image5', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="image5" id="field_image5" data-cy="image5" formControlName="image5" />
          <input
            type="hidden"
            class="form-control"
            name="image5ContentType"
            id="field_image5ContentType"
            formControlName="image5ContentType"
          />
        </div>

        <div class="mb-3">
          <label jhiTranslate="kariaMainApp.propertyProperty.tags" for="field_tags">Tags</label>
          <select
            class="form-control"
            id="field_tags"
            data-cy="tags"
            multiple
            name="tags"
            formControlName="tags"
            [compareWith]="compareTag"
          >
            @for (tagOption of tagsSharedCollection; track $index) {
              <option [ngValue]="tagOption">{{ tagOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['tags'])!.invalid && (editForm.get(['tags'])!.dirty || editForm.get(['tags'])!.touched)) {
          <div>
            @if (editForm.get(['tags'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
